[configuration]
  [widget]

    type = chart
    starttime = now - 1 * hour
    endtime = now
    timezone = UTC
    title = Cpu Busy, %
    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = nmon.cpu_total.busy%
  [widget]

    type = chart
    starttime = now - 1 * hour
    endtime = now
    timezone = UTC
    title = FS used, %
    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = nmon.jfs_filespace_%used

      [tags]
      id = {{index . "FS id"}}
  [widget]

    type = chart
    starttime = now - 1 * hour
    endtime = now
    timezone = UTC
    title = Memory Free, Mb

    [series]
      entity = {{.entity}}
      metric = nmon.memory_mb.memfree
  [widget]

    type = chart
    starttime = now - 1 * hour
    endtime = now
    timezone = UTC
    title = Memory Used, %

    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = nmon.memory_mb.memused%

