[configuration]

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Cache Hit, %
    url = https://localhost:8443

    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = oem.oracle_database.efficiency.buffer_cache_hit_%


  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = DB Instance CPU Busy, %
    url = https://localhost:8443

    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = oem.oracle_database.wait_bottlenecks.average_instance_cpu_%

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Host CPU Busy, %
    url = https://localhost:8443

    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = oem.oracle_database.wait_bottlenecks.host_cpu_utilization_%

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Space Allocated, Gb
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = oem.oracle_database.database_size.allocated_space_gb

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Space Used, Gb
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = oem.oracle_database.database_size.used_space_gb
