[configuration]

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Volume

    [series]
      entity = {{.entity}}
      metric = rtt-count

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    title = Errors
    timezone = UTC

    [series]
      entity = {{.entity}}
      metric = rtt-error-count

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Errors, %
    min-range = 0
    max-range = 100

    [series]
      entity = {{.entity}}
      metric = rtt-error-percent

  [widget]

    type = chart
    starttime = 2015-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Avg Response Time, ms

    statistic = avg
    [series]
      entity = {{.entity}}
      metric = rtt-response-time


