[configuration]

  [widget]

    type = chart
    starttime = 2010-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Expected kwh annual production
    url = http://localhost:8088

    [series]
      entity = {{.entity}}
      metric = expected_kwh_annual_production


  [widget]

    type = chart
    starttime = 2010-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Incentive dollars
    url = http://localhost:8088

    [series]
      entity = {{.entity}}
      metric = incentive_dollars


  [widget]

    type = chart
    starttime = 2010-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Project cost
    url = http://localhost:8088

    [series]
      entity = {{.entity}}
      metric = project_cost


  [widget]

    type = chart
    starttime = 2010-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Project count by city
    url = http://localhost:8088

    [series]
      entity = {{.entity}}
      metric = project_count_by_city


  [widget]

    type = chart
    starttime = 2010-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Total nameplate kw
    url = http://localhost:8088

    [series]
      entity = {{.entity}}
      metric = total_nameplate_kw
