[configuration]

  [widget]

    type = chart
    starttime = 2009-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Expected kwh annual production
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = expected_kwh_annual_production
	
	[tags]
      	  county = {{index . "County"}}
      	  city = {{index . "City"}}
      	  contractor = {{index . "Contractor"}}


  [widget]

    type = chart
    starttime = 2009-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Incentive dollars
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = incentive_dollars
	
	[tags]
      	  county = {{index . "County"}}
      	  city = {{index . "City"}}
      	  contractor = {{index . "Contractor"}}

  [widget]

    type = chart
    starttime = 2009-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Project cost
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = project_cost
	
	[tags]
      	  county = {{index . "County"}}
      	  city = {{index . "City"}}
      	  contractor = {{index . "Contractor"}}

  [widget]

    type = chart
    starttime = 2009-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Project count by city
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = project_count_by_city
	
	[tags]
      	  county = {{index . "County"}}
      	  city = {{index . "City"}}
      	  contractor = {{index . "Contractor"}}

  [widget]

    type = chart
    starttime = 2009-09-30 00:00 +0000
    endtime = 2015-10-01 00:00 +0000
    timezone = UTC
    title = Total nameplate kw
    url = https://localhost:8443

    [series]
      entity = {{.entity}}
      metric = total_nameplate_kw
	
	[tags]
      	  county = {{index . "County"}}
      	  city = {{index . "City"}}
      	  contractor = {{index . "Contractor"}}
